 /*reusable classes*/

 *, ::after, ::before{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toUpperCase {
   text-transform: uppercase;
}

/*Styles for Nav*/

nav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

.text-lyft {
    width: 55%;
    position: absolute;
    display: inline-block;
    font-size: 2em;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.text-lyft a {
    text-align: left;
    width: 10%;
    margin: 0;
}

.text-lyft img {
    width: 8%;
    color: #fff;
}

.menu {
    width: 25%;
    position: absolute;
    list-style: none;
    text-align: center;
    display: inline-block;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.menu li{
    margin: 0 0 0 15px;
    font-size: 1em;
    letter-spacing: 1px;    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*Styles for Header*/

.container-header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-image {
    top: 50%;
    transform: translateY(-13%);
}

.container-image img {
    display: inline-block;
    width: 100%;
}

.form {
    width: 42%;
    position: absolute;
    float: right;
    list-style: none;
    text-align: left;
    background: #fff;
    left:58%;
    top: 50%;
    transform: translateY(-60%);
}

.container-form {
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 70px;
}

.container-text {
    width: 55%;
    padding-bottom: 20px;
}

.container-span {
    color: #352384;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.container-span-down {
    color: #352384;
    font-size: 15px;
}

form {
    width: 100%;
}

.control-input {
    width: 100%;
    margin-bottom: 45px;
    border-bottom: 1px solid #000;
}

.container-input label {
    text-align: left;
    display: block;
    color: #fff;
}

.container-input input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-bottom: 8px;
}

.container-button-link {
    width: 100%;
    position: relative;
}

.control-button {
    display: inline-block;
    padding-bottom: 25px;
}

.control-button button{
    background-color: #FF00BF;
    color: #fff;   
    border: 1px solid #FF00BF;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0.5rem;
    outline: 0;
    letter-spacing: 1px;
}

.control-link {
    position: absolute;
    display: inline-block;
    top: 30%;
    transform: translateY(-50%);
    margin-left: 35px;
}

.control-link a {
    font-size: 20px;
    color: #728099;
}

.sumilla {
    font-size: 0.77rem;
    color: #728099;
    padding-bottom: 50px;
}

/*Styles for First-Section*/

.first-section {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #76278F 5%, #2B1E66 100%);
    top: 50%;
    transform: translateY(-32%);
}

.section-container {
    width: 85%;
    margin-top: 0;
    margin: auto;
    padding: auto;
    padding-top:130px; 
    padding-bottom: 50px;

}
.container-letter {
    position: relative;
    width: 100%;
    margin: 0;
}

.row {
    width: 472px;
    display: inline-block;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.container-row {
    width: 100%;
    margin-bottom: 62px;
}

.container-row h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

#independent-text {
    width: 110%;
}

.image {
    position: absolute;
    display: inline-block;
    width: 150px;
    padding-left: 100px;
}

.image img {
    display: block;
    height: 500px;
}

/*Styles for Second-Section*/

.second-section {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background: #fff;
    top: 50%;
    transform: translateY(-52%);
}

.section-next-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-letter-black {
    position: relative;
    width: 100%;
    margin: 0;
}

.row-next {
    width: 35%;
    display: inline-block;
    color: #000;
    padding: 0;
}

.container-row-black {
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.link-p {
    margin-top: 0;
    margin-bottom: 0;
}

.link-p a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.container-row-black h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-black {
    margin-top: 30px;
}

.section-video {		 
    position: absolute;		     
    display: inline-block;		      
    width: 65%;	

}		  
          
.section-video iframe {
    width: 100%;
}		     

/*Styles for Third-Section*/

.third-section {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background: #fff;
    top: 50%;
    transform: translateY(-62%);
}

.row-next-third {
    position: absolute;
    display: inline-block;
    width: 31%;
    color: #000;
    padding: 0;
    left: 67%;
}

/*Styles for Quarter-Section*/

.quarter-section {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background: #fff;
    top: 50%;
    transform: translateY(-72%);
} 
